// with full path if not in mono search path (gac, environment, etc.)
[assemblys]
assembly_runtime_path="your runtime assembly containing custom C# widgets"
assembly_design_path="optional your design assembly containing custom C# editor"
assembly_reference0="needed reference assemblys at design-time"
assembly_reference1="needed reference assemblys at design-time"

[runtime]
runtime_namespace="your runtime-assembly namespace"

[design]
design_namespace="your design-time-assembly namespace"

[register]
gtyperegister_static_class="GTypeRegister"
gtyperegister_static_function="Register"
